@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-primary: #F3D180;
    --color-primary-2: #6B2C39;
    --color-primary-3: #362E41;
    --color-primary-4: #E75414;
    --color-primary-5: #D62828;
    --color-bg: #EAE2B7;
    --color-text: #000;
    --color-white: #fff;

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    line-height: 1.7;
}

/* ================= General Styles ======================= */

.container {
    width: var(--container-width-lg);
    margin: 3rem auto 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    padding: 2.5rem 0;
}

section > h2 {
    text-align: center;
    color: var(--color-primary-2);
    font-size: 2.25rem;
}

a {
    color: var(--color-primary-3);
    transition: var(--transition);
}

a:hover {
    color: var(--color-primary-4);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary-2);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary-2);
    transition: var(--transition);
}

.btn:hover {
    background-color: var(--color-primary-3);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background-color: var(--color-primary-2);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}


/* ============= Media Queries (Medium Devices) ============ */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }
}

/* ============= Media Queries (Small Devices) ============ */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
}

@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5rem;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

@keyframes slideInLeft {
from {
    transform: translateX(-50px);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

@keyframes slideInRight {
from {
    transform: translateX(50px);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

@keyframes slideInTop {
from {
    transform: translateY(50px);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}